body {
    margin: 0;
}

.container {
    display: flex;

    /* uncomment below if you want navbar instead of sidebar */
    /* flex-direction: column; */ 
}

.content {
    padding: 1em;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sidebar {
    height: 100vh;
    width: 20%;
    background-color: #303030;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    position: sticky;
    top: 0;
}

.sidebar-items {
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.sidebar-items a {
    text-decoration: none;
}

.sidebar-items-tile {
    display: flex;
    align-items: center;
    color: #ffffff;
    gap: 5px;
}

.navbar {
    display: flex;
    height: 60px;
    background-color: #d14959;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    position: sticky;
    top: 0;
}

.navbar-items {
    display: flex;
    width: 100%;
    justify-content: space-around;
    font-weight: bold;
    align-items: center;
}

.navbar-items-tile {
    display: flex;
    align-items: center;
    gap: 5px;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    padding: 5rem;
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button-group {
    display: flex;
    gap: 1rem;
}

.manage-button {
    width: 15%;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: #fff;
    border: 2px solid #000;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.5);
    padding: 16px;
    border-radius: 10px;
}